body{
  font:{
    size: .75em;
    family: arial, helvetica, sans-serif;
  }
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6{
  font:{
    family: arial, helvetica, sans-serif;
  }
  line-height: 1.3em;
}

p, li {
  color: $dark-grey;
}
